<!DOCTYPE html>
<html ng-app="MyFirstApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/jquery.mobile.flatui.css" />
    <script src="js/jquery.js"></script>
    <script src="js/jquery.mobile-1.4.0-rc.1.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/AppAngular.js"></script>
</head>
<body ng-controller="FirstController" ng-init="initFirst();">
    <div data-role="page">
        <div data-role="header">
            <h1>Mensajes Libres</h1>
        </div>
        <div style="width: 100%; height: 400px; overflow: auto">
            <table data-role="table" id="movie-table" data-filter="true" data-input="#filterTable-input" class="ui-responsive">
                <thead>
                    <tr>
                        <td>
                            <b>MessageID</b>
                        </td>
                        <td>
                            <b>Descripcion</b>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="post in posts | orderBy:'-MessageID'">
                        <td>
                            {{post.MessageID}}
                        </td>
                        <td>
                            {{post.Descripcion}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br />
        <form>
            <table>
                <thead>
                    <tr>
                        <td width="500">
                            <input type="text" name="name" class="form-control" ng-model="datos" placeholder="escribi tu msj">
                        </td>
                        <td>
                            <button ng-click="SendData()" type="button" class="btn btn-success">Enviar</button>
                        </td>
                    </tr>
                </thead>
            </table>
        </form>
        <div data-role="footer">
            <div data-role="navbar" data-type="horizontal">
                <ul>
                    <li><a href="#" data-icon="grid">Menu</a></li>
                    <li><a href="#" data-icon="star">Favorites</a></li>
                    <li><a href="#" data-icon="gear">Tools</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="highlight"> </div>
</body>
</html>